<app-title></app-title>

<app-section header="ACCOUNT INFORMATION"></app-section>

<form onsubmit="return false;">
  <fieldset class="flex flex-col">
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      [formField]="page_service.account_form.username"
      class="reusable-input"
    />

    @if (page_service.account_form.username().touched() &&
    page_service.account_form.username().invalid()) {
    <ul class="error-list">
      @for (error of page_service.account_form.username().errors(); track error) {
      <li class="text-red-500">{{ error.message }}</li>
      }
    </ul>
    }

    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      [formField]="page_service.account_form.password"
      class="reusable-input"
    />

    <p>{{ page_service.message }}</p>
    <div class="flex justify-around">
      <button (click)="page_service.reset()">reset</button>
      <button (click)="page_service.submit()">submit</button>
    </div>
  </fieldset>

  <app-section header="FUN QUESTIONS"></app-section>

  <fieldset>
    <legend>have you committed a felony?</legend>
    <input
      type="radio"
      value="true"
      id="felony-yes"
      [formField]="page_service.felony_form.felony"
      class=""
    />
    <label for="felony-yes">yes</label>
    <input
      type="radio"
      value="false"
      id="felony-no"
      [formField]="page_service.felony_form.felony"
      class=""
    />
    <label for="felony-no">no</label>
  </fieldset>

  <fieldset>
    <legend>what is your favorite fruits</legend>
    <input type="checkbox" id="fruit-apple" [formField]="page_service.fruit_form.apple" class="" />
    <label for="fruit-apple">apple</label>
    <input
      type="checkbox"
      id="fruit-banana"
      [formField]="page_service.fruit_form.banana"
      class=""
    />
    <label for="fruit-banana">banana</label>
  </fieldset>

  <fieldset>
    <legend>Which country do you come from?</legend>
    <select>
      <option selected disabled value="">Select</option>
      @for (country of country_info; track country.code) {
      <option [value]="country.code">{{ country.name }}</option>
      }
    </select>
  </fieldset>

  <button (click)="app_form.submit()">submit</button>
</form>
